# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Env
.env
.env.local

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/
dbt/.user.yml

# Airflow
airflow/logs/
airflow/plugins/__pycache__/
airflow-webserver.pid

# Docker
docker/postgres-data/

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
